<%- include('../partials/heade.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>
    
      <br> 
  <div class="principal configD">
    <div class="container">
        <div class="categoria"><h1>Sobre nós</h1></div>
        
<h3>anasiojacinto@gmail.com</h3>

<h4>Author: Anásio Jacinto</h4>

<br> 

<h4><p>Olá,Seja Bem Vindo(a) a plantaforma ADAFLIX, Chamo-me Anásio Jacinto autor desta plantaforma digital,
     Espero que estejas a gostar dos nossos conteúdos, eles foram selecionados para si.
    Esta plantaforma foi feita para baixar e assistir filmes, séries e animes em qualquer lugar e a qulaquer momento
    no seu Smarphone, Tablet, ou computador</p></h4>
    <br>


    <h1>Como Assistir</h1>
   

    <h4><p>Para assistir filmes, séries ou animes nessa plantaforma é necessário fazer o cadastro e depois faz o login,
    mais antes é preciso registar um dos nossos pacotes para ter acesso aos nossos serviços.

    </p></h4>
    <br>
    <div id="dov-1">
        <img src="img/Contacto.png" width="4%" height="39px" alt="">
         <img src="img/Facebook.png" width="4%" height="39" alt="">
         <img src="img/email.png" width="4%" height="39px " alt="">
         <img src="img/Localização.png" width="4%" height="39px " alt="">
         
    </div>
          <h4>840190463--------------------Anasio Jacinto</h4>
          <h4>anasiojacinto@gmail.com------Moçambique</h4>
      </div>
    </div>
</body>

<%- include('../partials/footer.ejs') %>
    <%- include('../partials/footer.ejs') %>