<%- include('../partials/heade.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>
    
      <br> 
  <div class="principal configD">
    <div class="container">
        <div class="categoria"><h1>Filmes</h1></div>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/Homem-Aranha"><img src="img/homem-aranha-de-volta-ao-lar-lo10-90x60-cm-marvel.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/babilonia.jfif" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/Captain_Marvel_(2018).jpg" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
            </div>
          </div>
      </div>
      <br>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/homem-aranha-de-volta-ao-lar-lo10-90x60-cm-marvel.jpg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/babilonia.jfif" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/Captain_Marvel_(2018).jpg" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
            </div>
          </div>
      </div>
      <br>

      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/Homem-Aranha"><img src="img/homem-aranha-de-volta-ao-lar-lo10-90x60-cm-marvel.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/babilonia.jfif" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/Captain_Marvel_(2018).jpg" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
            </div>
          </div>
          
      </div>
      <br>
      
      <div class="row row-cols-1 row-cols-md-6 g-4">
        <div class="col">
          <div class="card efeito efeitoCont">
            <a href="/Homem-Aranha"><img src="img/homem-aranha-de-volta-ao-lar-lo10-90x60-cm-marvel.jpg" class="card-img-top" alt="..."></a>
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/babilonia.jfif" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/Captain_Marvel_(2018).jpg" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col">
          <div class="card efeito efeitoCont">
            <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card efeito efeitoCont">
              <img src="img/vigadores ultimato.jfif" class="card-img-top" alt="...">
            </div>
          </div>
          <br>
          
      </div>
    </div>
    <br>
    <%- include('../partials/footer-1.ejs') %>
  </div>
</body>

<%- include('../partials/footer.ejs') %>