<%- include('../partials/heade.ejs') %>
<body>
    
      <br> 
  <div class="principal configD">
    <div class="container">
        <div class="categoria"><h1>PACOTES</h1></div>
        
        <br>
<h2><b>NOSSOS PACOTES</h2>
    
    <h3><p><b>Pacote Diário</p></h3>
<h4>1H---10mts</h4>
<h4>1dia---25mts</h4>
    <h3><p><b>Pacote Semanal</p></h3><br>
    <h4>7dias---40mts</h4>
    <h3><b><p>Pacote Mensal</p></h3><br>
    <h4>30dias---110mts</h4>
    <hr> 
    
    <h4>Para efectuar o pagamento desses pacotes pode usar os seguintes serviços </h4>

    <h6><p><b>860137933 -----------<b>  840190463</p></h5>
    <div id="dov">
    <img src="img/emola raco.jpeg" width="20%" height="80px" alt="">
    
     <img src="img/mpesa org.png" width="20%" height="80px
    " alt="">
    

</div>
<br>
<li><a class="dv" href="/cadastro"><h4>CRIAR CONTA</h4></a></li>


      
          
      </div>
    </div>
</body>

<%- include('../partials/footer.ejs') %>
    <%- include('../partials/footer.ejs') %>